<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  {% include 'partials/header.html' %}

  <h1>{{ title }}</h1>
  <p>&nbsp;</p>

  <main>
    <ul>
      {% for item in items %}
        <li>
          <h2>{{ item.name }}</h2>
          <p>{{ item.content|replace('-', '<br>-')|safe }}</p>
        </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>